<html>
  <head></head>
  <body>
    <h1> Welcome to Chitter </h1>
      <div>
          <a href="/signup">Go to signup</a>
      </div>

      <div>
        <a href="/signin">Go to sign in page</a>
      </div>

      <div>
        <a href="/posts">Go to posts</a>
      </div>
  </body>
</html>
